
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Окно ошибок и уведомлений сервера
#alert {
  position: fixed;
  width: auto;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  // padding-left: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
// --------------------------------------------------------------------------

@media screen and (max-width: 990px) {

  .display-3 {
    font-size: 3.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {

  .display-3 {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.0rem;
  }

  h4 {
    font-size: 0.95rem;
  }

  p {
    font-size: 0.9rem;
  }
}

.nav-link {
  border: 1px solid;
  border-radius: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: rgba(252,228,236,.7);
  color: rgb(233, 30, 99) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background-color: rgba(252,228,236,.3);
  margin: 0.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  background-color: rgba(252,228,236,.2);
}

.nav-flex-icons .nav-item .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}

ul li {
  list-style-type: none;
}
