.nav-item {
  margin: 1rem;
}

.bg-grey {
  background-color: rgba(55, 71, 79, 0.7);
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
