body {
  padding-right: 0 !important;
}

#app {
  background-image: url(/public/storage/images/site_0/fone61.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff !important;
}

.text-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.modal .modal-dialog.modal-top-right {
  top: 80px;
  right: 10px;
}

.modal .modal-dialog.modal-top {
  top: 80px;
}

.bg-grey {
  background-color: rgba(55, 71, 79, 0.7);
}

.star {
  position: relative;
  top: 10px;
  font-size: 200%;
}

.page-footer a:hover {
  color: red;
}

.art-preview {
  min-height:600px;
  background-color: rgba(207, 216, 220, 0.9);
}

.btn-outline-white {
  /* z-index: 9999; */
  border: 2px solid #ffffff !important;
  border-radius: 25px;
  background-color: rgba(255,255,255,.2) !important;
  color: #ffffff !important;
}

.btn-outline-white:hover {
  background-color: rgba(255,255,255,.7) !important;
  color: rgb(233, 30, 99) !important;
  border: 2px solid rgb(233, 30, 99) !important;
}

ul {margin-left: -1rem;}

/* .alert {
    position: relative;
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
} */

.cursor-hand:hover {
  cursor: pointer;
}

.stars {
  font-size: 200%;
  padding-top: 50%;
}

.bg-red {
  background-color: rgb(241, 18, 18);
}

.bg-green {
  background-color: rgb(42, 249, 119);
}
