body {
  padding-right: 0 !important;
}

#app {
  background-image: url(/public/storage/images/site_0/fone61.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff !important;
}

.text-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.modal .modal-dialog.modal-top-right {
  top: 80px;
  right: 10px;
}

.modal .modal-dialog.modal-top {
  top: 80px;
}

.bg-grey {
  background-color: #37474F;
}

.star {
  position: relative;
  top: 10px;
  font-size: 200%;
}
